<div
  class="container-fluid vh-container d-flex justify-content-center align-items-center"
>
  <main class="container">
    <div
      class="container d-flex justify-content-center align-items-start flex-wrap"
    >
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../../../assets/images/watermelon-margarita.jpg"
              class="img-fluid rounded-start"
              alt="Watermelon Margarita Cocktail"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Add your cocktail</h5>

              <p class="card-text">
                Add cocktails into your library and have them at hand anywhere
                you go!
              </p>

              <div class="container m-6 p-6">
                <div class="container mt-4">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="floatingInput"
                      placeholder="Enter cocktail name"
                      aria-label="Enter cocktail name"
                      aria-describedby="basic-addon1"
                    />
                    <label for="floatingInput">Enter cocktail name</label>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Enter ingredients"
                    aria-label="Enter ingredients"
                    aria-describedby="basic-addon1"
                  />
                  <label for="floatingInput"
                    >Enter ingredients - press enter after each
                    ingredient</label
                  >
                </div>

                <div class="form-floating mb-3">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea2"
                    style="height: 200px"
                  ></textarea>
                  <label for="floatingTextarea2">Add a description</label>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Enter ingredients"
                  aria-label="Enter ingredients"
                  aria-describedby="basic-addon1"
                />
                <label for="floatingInput">Add picture link</label>
              </div>

              <input
                type="submit"
                value="Save"
                class="btn btn-light btn-save"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
