.navbar-brand {
  color: #fa4616;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: black;
}

.navbar-nav .nav-link:hover {
  color: #fa4616;
}

.navbar-nav .nav-link:focus {
  color: #fa4616;
  font-weight: bold;
}

.navbar-custom {
  background-color: white;
}
