.cocktail-ingredient {
  padding: 0.3rem 0.5rem 0.3rem 1rem;
  border-left: 1px solid;
}

.card-title {
  padding: 0.6rem 0.5rem 0.25rem 0;
  font-size: 1.5rem;
}

.ingredients-container {
  max-height: 8rem;
  margin: 1.5rem 0 1.5rem 0;
}

.cocktail-image {
  width: 450px;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.badge {
  background-color: white;
  color: #fa4616;
  border: 1px solid #fa4616;
}

.btn-delete {
  background-color: #fa4616;
  color: white;
  border: none;
  margin-left: 1rem;
}

.btn-delete:focus {
  border-color: #fa4616;
  box-shadow: 0 0 0 0.2rem rgba(250, 70, 22, 0.25);
}

.btn-edit {
  background-color: white;
  color: #fa4616;
  border: 1px solid #fa4616;
}

.btn-edit:focus {
  border-color: #fa4616;
  box-shadow: 0 0 0 0.2rem rgba(250, 70, 22, 0.25);
}

@media screen and (max-width: 1200px) {
  .ingredients-container {
    max-height: 10rem;
  }

  .cocktail-image {
    width: 450px;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (max-width: 1000px) {
  .ingredients-container {
    max-height: 20rem;
  }

  .cocktail-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
}
