@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn:focus {
  border-color: #fa4616;
  box-shadow: 0 0 0 0.2rem rgba(250, 70, 22, 0.25);
}
