<div class="modal-header">
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss(null)"
  ></button>
</div>
<div class="modal-body">
  <div class="container">
    <!-- Modal body form -->
    <form class="add-post-form" id="cocktailForm">
      <h3>Edit Cocktail</h3>
      <div class="container mt-4">
        <label for="cocktailName" class="form-label">Edit Cocktail Name</label>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            aria-label="Edit Cocktail Name"
            aria-describedby="basic-addon1"
            id="cocktailName"
            name="name"
            required
            [(ngModel)]="clonedCocktail.name"
          />
        </div>
      </div>

      <div class="container mt-4">
        <label for="cocktailAuthor" class="form-label"
          >Edit Cocktail Author</label
        >
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            aria-label="Edit Cocktail Author"
            aria-describedby="basic-addon1"
            id="cocktailAuthor"
            name="author"
            [(ngModel)]="clonedCocktail.author"
          />
        </div>
      </div>

      <!-- Tag input html -->
      <div class="container mt-4">
        <div class="wrapper">
          <div class="content">
            <p>Enter ingredients - press enter after each ingredient</p>

            <ul class="input-window">
              <div
                class="tag-list"
                *ngFor="let tag of clonedCocktail.ingredients"
              >
                <li
                  class="ingredient-tags"
                  name="ingredients"
                  [(ngModel)]="clonedCocktail.ingredients"
                  ngDefaultControl
                >
                  {{ tag
                  }}<fa-icon [icon]="faXmark" (click)="remove(tag)"></fa-icon>
                </li>
              </div>
              <input
                type="text"
                aria-label="Edit Cocktail Ingredients"
                id="cocktailIngredients"
                required
                (keyup)="addTag($event)"
              />
            </ul>

            <div class="details">
              <button
                type="button"
                class="btn btn-light btn-remove-ingredients"
                (click)="removeAll()"
              >
                Remove all
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Tag input html -->

      <div class="container mt-4">
        <label for="cocktailDescription" class="form-label"
          >Edit Cocktail Description</label
        >
        <div class="input-group">
          <textarea
            class="form-control"
            aria-label="Edit Cocktail Description"
            id="cocktailDescription"
            required
            style="height: 150px"
            name="description"
            [(ngModel)]="clonedCocktail.description"
          ></textarea>
        </div>
      </div>

      <div class="container mt-4">
        <label for="cocktailImage" class="form-label"
          >Edit Cocktail Image</label
        >
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            aria-label="Edit Cocktail Image"
            aria-describedby="basic-addon1"
            id="cocktailImage"
            required
            name="image"
            [(ngModel)]="clonedCocktail.image"
          />
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark btn-cancel"
    (click)="activeModal.dismiss(null)"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-light btn-save"
    (click)="activeModal.close(clonedCocktail)"
  >
    Save
  </button>
</div>
