<section class="cocktails-header text-center">
  <h2 class="header-title">FIND YOUR PERFECT COCKTAIL</h2>
  <p class="header-text">
    Sweet, sour, bubbly or creamy - search for the perfect cocktail to match
    your mood
  </p>
</section>

<div class="container text-center mt-5 mb-4">
  <input
    type="search"
    class="search-bar"
    name="name"
    placeholder="Enter cocktail name to search"
    [(ngModel)]="name"
    (ngModelChange)="search()"
  />
  <button type="button" class="btn btn-light search-button">
    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
  </button>
</div>

<!-- Filter section with buttons: -->

<div class="container d-flex justify-content-center text-center mb-4">
  <button class="btn btn-light btn-filter active me-3">All Cocktails</button>
  <button class="btn btn-light btn-filter">Alcoholic Cocktails</button>
  <button class="btn btn-light btn-filter ms-3">Non-alcoholic Cocktails</button>
</div>

<app-cocktail-card
  *ngFor="let cocktail of cocktails"
  [cocktail]="cocktail"
  (onDeleteCocktail)="deleteCocktail(cocktail)"
  (edit)="showEditCocktail($event)"
></app-cocktail-card>
