.cocktails-header {
  background-color: #fa4616;
  color: white;
  padding: 3rem;
}

.header-title {
  font-size: 3.5rem;
  font-weight: bold;
}

.header-text {
  font-size: 1.25rem;
}

.search-bar {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid;
  width: 18rem;
}

textarea:focus,
input:focus {
  outline: none;
  border-bottom: 2px solid #fa4616;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-button {
  background-color: #fa4616;
  color: white;
  border: none;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Filter buttons */

.btn-filter {
  background-color: white;
  color: #fa4616;
  border: 1px solid #fa4616;
}

.btn-filter.active {
  background-color: #fa4616;
  color: white;
  border: none;
  margin-left: 1rem;
}

.btn-filter.active:focus {
  border-color: #fa4616;
  box-shadow: 0 0 0 0.2rem rgba(250, 70, 22, 0.25);
}
